@model RecCore.Models.CandidateResponseModel

<div class="card mb-4 shadow bg-light">
    <a asp-controller="Candidate" asp-action="Update" asp-route-id="@Model.Id">
        <p>

        </p>
    </a>
</div>