@model RecCore.Models.JobRequirementResponseModel

<div class="card mb-4 shadow bg-light">
    <a asp-controller="JobRequirements" asp-action="Details" asp-route-id="@Model.Id">
        
    </a>
</div>